# Arquivo .env com chaves secretas
.env

# Dependências do Node.js
node_modules/

# Logs e arquivos de sistema operacional
*.log
.DS_Store
Thumbs.db

# Ferramentas de desenvolvimento e arquivos de editor
.vscode/
.idea/
ngrok.exe
